@font-face {
    font-family: "WorkSans";
    font-weight: 400;
    src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf')format('truetype');
  }

@font-face {
    font-family: "WorkSans";
    font-weight:600;
    src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf')format('truetype');
  }

  @font-face {
    font-family: "WorkSans";
    font-weight: 700;
    src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf')format('truetype');
  }
  
 @font-face {
    font-family: "WorkSansItalics";
    font-style: italic;
    src: url('./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
 }  

:root{
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);

    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'WorkSans', sans-serif;
    color: var(--Dark-purple);
    /* background-color: var(--Light-pink); */
}

.App{
    position: relative;
}

.bg-image{
    width: 100%;
}

.faq{
    /* margin: 1.5rem; */
    background-color: var(--White);
    width: 85%;
    margin: 1rem auto;
    padding: 1.5rem;
    /* border: 1px solid red; */
    border-radius: 5px;
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 200px -50px var(--Grayish-purple);
    top: -8rem;
}

.faq h1{
    display: inline-block;
    margin: 2rem;
    font-size: 3rem;
    font-weight: 700;
}

.faq article .question h2{
    margin-bottom: 1rem;
    display: inline-block;
    width: 80%;
}

.faq article .question img{
    float: right;
}

.faq article p{
    height: 0;
    margin: 1rem;
    overflow: hidden;
}

.faq article .open{
    height: auto;
    line-height: 1.5;
    color: var(--Grayish-purple);
    margin: 0.5rem 0 2rem;
}



/* Desktop design */
/* *********************************************** */
/* *********************************************** */

@media(min-width: 375px) {

    .App{
        max-width: 1440px;
        margin: 0 auto;
    }

    .faq{
        max-width: 600px;
        top:-10rem;
    }
    
}


